/*@import url(https://fonts.googleapis.com/css?family=Poppins:400,500);*/
/*@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);



body {
    padding-top: 65px;
    padding-bottom: 20px;
    color: #676a6c;
    /*font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: Roboto,Arial,sans-serif;
    font-size: 13px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.login-form {
    margin:0 auto;
    max-width:330px;
    margin-top:10px;
}

    .login-form .form-control {
        font-size: 16px;
        height: auto;
        padding: 10px;
    }

form .validation-summary-valid {
    display: none;
}

form .input-validation-error {
    border-color: #EE5F5B;
    color: #B94A48;
}

    form .input-validation-error:focus {
        border-color: #E9322D;
        box-shadow: 0 0 6px #F8B9B7;
    }

form .field-validation-error {
    color: #B94A48;
}

.required {
    color: #a94442;
}

.page-header {
    border-bottom:1px solid #e7e7e7;
    margin-left:-25px;
    margin-top:0px;
}

.page-header > h1 {
    font-weight:bold;
    padding-left:10px;
}

.navbar {
    min-height:65px;
}

.navbar-default {
    background:#2f4050;
    color:#676a6c;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #fff;
        background-color: transparent;
    }

.reconciliation-block:hover,
.reconciliation-block:focus {
    text-decoration:none;
}

.navbar-right {
    margin-right: 0px;
}

.cfys-logo {
    height:60px;
    width:50px;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding:0 0 0 15px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-brand > img {
    display: inline-block;
}

/* Sidebar nav*/
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: #0183FE;
    color: #fff;
}

.nav-sidebar {
    margin-left: -20px;
    margin-right: -21px;
}

.nav-group {
    border-bottom:1px solid #e7e7e7;
}

.nav-group-active {
    font-weight:bold;
}

    .nav-sidebar > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-second-level > li > a {
        padding-left:60px;
    }

.sidebar {
    display: none;
}

.nav-tabs {
    margin-bottom:10px;
}

.footer {
    border-top:1px solid #e7e7e7;
    padding-top:10px;
    margin-top:25px;
}

.delete-line {
    cursor:pointer;
}

.race-list ul {
    list-style:none;
    padding:0;
}

.no-editor {
    padding-top:7px;
}

@media (min-width: 768px) {
    .sidebar {
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        bottom: 0;
        display: block;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px;
        position: fixed;
        top: 51px;
        z-index: 1000;
    }

    .navbar-brand {
        font-size: 24px;
    }

    .navbar-nav {
        font-size: 16px;
    }
}

@media (max-width:768px) {
    .title-text {
        font-size: 16px;
    }
}


